@charset "UTF-8";
/*Importar*/
/*FONT*/
@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400&display=swap");
/*ANIMACIONES*/
@keyframes puff-in-center {
  0% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
  }
}
@-webkit-keyframes tracking-out-contract {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}
@keyframes tracking-out-contract {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes slide-in-tl {
  0% {
    transform: translateY(-1000px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
/*GRIDS*/
/*Grid explicitas*/
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
  gap: 20px;
}

.grid2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  gap: 20px;
}

.grid-area {
  display: grid;
  grid-template-areas: "titulo titulo titulo titulo" "img1   img2   img3   img4" "img5   img6   img7   img8";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 120px 600px 600px;
  gap: 20px;
}

.titulo {
  grid-area: titulo;
  position: relative;
}

.img1 {
  grid-area: img1;
}

.img2 {
  grid-area: img2;
}

.img3 {
  grid-area: img3;
}

.img4 {
  grid-area: img4;
}

.img5 {
  grid-area: img5;
}

.img6 {
  grid-area: img6;
}

.img7 {
  grid-area: img7;
}

.img8 {
  grid-area: img8;
}

/*Flexbox*/
.is-flex {
  display: flex;
}

.is-flex-wrap {
  flex-wrap: wrap;
}

.is-no-wrap {
  flex-wrap: nowrap;
}

.is-justify-center {
  justify-content: center;
}

.is-aling-center {
  align-items: center;
}

.is-align-end {
  align-items: flex-end;
}

.is-flex-column {
  flex-direction: column;
}

.is-space-between {
  justify-content: space-between;
}

.is-justify-end {
  justify-content: end;
}

.reverse {
  flex-direction: row-reverse;
}

.menu-flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.menu-flex2 {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.flex-imagen {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex: wrap;
}

.flex-music {
  display: flex;
  justify-content: center;
}

.flex-video {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.flex-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-redes {
  display: flex;
  justify-content: end;
  flex-flow: column;
}

/*box model*/
/*.Estilos.Box.model.*/
.ancho {
  width: 100%;
}

.largo {
  height: 500px;
}

/*Margin*/
.margen {
  margin-top: 40px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
}

/*Padding*/
.margen-interno {
  padding-top: 20px;
  padding-bottom: 20px;
}

/*Estilos generales*/
/*variables*/
header {
  font-family: "Cormorant SC", serif;
}

main {
  font-family: "Cormorant SC", serif;
}

body {
  background-color: black;
  font-family: "Cormorant SC", serif;
  font-size: 1.1rem;
  color: black;
  line-height: 1.3;
  text-align: justify;
}

footer {
  background-color: rgb(50, 49, 49);
}

p {
  color: white;
  text-align: justify;
  font-size: 20px;
}

h1 {
  color: antiquewhite;
  font-size: 3rem;
  width: 100%;
  text-align: center;
  text-decoration: underline;
  margin-top: 10px;
  border: groove 7px antiquewhite;
}

h2 {
  color: white;
  font-size: 2rem;
  text-decoration: underline;
  text-align: center;
}

h3 {
  background-color: bisque;
  color: grey;
  font-size: 1rem;
  font-style: italic;
  margin-top: 100px;
}

li {
  background-color: transparent;
  padding: 5px 10px;
  list-style: none;
  -webkit-animation: text-blur-out 1.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) alternate-reverse both;
  animation: text-blur-out 1.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) alternate-reverse both;
}

li:hover {
  background-color: bisque;
  border-left: solid 12px firebrick;
}

form {
  color: antiquewhite;
  border: groove 8px bisque;
  text-align: center;
  font-size: 1rem;
  width: 100%;
  height: 300px;
  background: rgb(154, 185, 186);
  background: linear-gradient(90deg, rgba(154, 185, 186, 0.8477951636) 22%, rgb(96, 132, 150) 47%);
}

/*ID*/
#uno {
  width: 100%;
  color: black;
}

#dos {
  width: 300px;
  margin-right: 50px;
  border-radius: 50px;
}

#tres {
  background-image: url(../multimedia/fondoazul.jpg);
}

#cuatro {
  background-image: url(../multimedia/fondonro.jpg);
}

/*clases*/
.main-content {
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
}

.image-wrapper {
  width: 30%;
  padding: 15px;
}

.text-wrapper {
  width: 70%;
  padding: 15px;
}

.link {
  display: block;
  margin-top: 15px;
}

.logo {
  margin-left: 20px;
  margin-right: 350px;
  width: 200px;
  animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

.pie {
  font-size: 1rem;
  color: white;
}

.image {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.image:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-box-shadow: 3px 3px 5px #000;
  -moz-box-shadow: 3px 3px 5px #000;
  box-shadow: 3px 3px 5px #000;
  -webkit-backface-visibility: hidden;
}

.fade-in {
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.imgpeliculas {
  width: 300px;
}

img {
  width: 100%;
}

.linea {
  border-top: 1px solid white;
  height: 2px;
  max-width: 650px;
  padding-top: 20px;
  margin-left: 20px;
  margin: 20px auto 0 auto;
}

.redes {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
}

.casas {
  width: 80px;
  padding-top: 15px;
  margin-right: 30px;
}

.videotamaño {
  width: 100%;
}

.parrafoprincipal {
  color: white;
  text-align: justify;
  font-size: 20px;
  width: 100%;
  padding: 15px;
  margin: 30px;
  border: solid 2px grey;
  line-height: 40px;
}

.fondopeli {
  background-image: url(../multimedia/fondoazul.jpg);
}

.fondoperso {
  background-image: url(../multimedia/fondonro.jpg);
}

.fondomulti {
  background-image: url(../multimedia/fondorayo.jpg);
}

.fondoindex {
  background-image: url(../multimedia/fondo\ parraf.jpeg);
}

.fondocontacto {
  background-image: url(../multimedia/fondocontact.jpg);
}

/*Flexbox*/
.is-flex {
  display: flex;
}

.is-flex-wrap {
  flex-wrap: wrap;
}

.is-no-wrap {
  flex-wrap: nowrap;
}

.is-justify-center {
  justify-content: center;
}

.is-aling-center {
  align-items: center;
}

.is-align-end {
  align-items: flex-end;
}

.is-flex-column {
  flex-direction: column;
}

.is-space-between {
  justify-content: space-between;
}

.reverse {
  flex-direction: row-reverse;
}

.flex-imagen {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex: wrap;
}

.flex-music {
  display: flex;
  justify-content: center;
}

.flex-video {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.flex-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-redes {
  display: flex;
  justify-content: end;
  flex-flow: column;
}

/*variables*/
/*Anidacion*/
footer {
  font-family: "Cormorant SC", serif;
}
footer nav {
  text-align: center;
}
footer nav li {
  list-style: none;
}

/*EACH*/
body {
  background-color: black;
}

header {
  background-color: black;
}

main {
  background-color: black;
}

/*Responsive design con media queries*/
/*desktop*/
@media (min-width: 1024px) {
  /*header*/
  .image-wrapper {
    display: flex;
    justify-content: flex-start;
    width: 30%;
    padding: 15px;
  }
  .text-wrapper {
    width: 70%;
    padding: 15px;
  }
  .grid-area {
    display: grid;
    grid-template-areas: "titulo titulo titulo titulo" "img1   img2   img3   img4" "img5   img6   img7   img8";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 120px 600px 600px;
    gap: 20px;
  }
  .titulo {
    grid-area: titulo;
    position: relative;
  }
  .img1 {
    grid-area: img1;
  }
  .img2 {
    grid-area: img2;
  }
  .img3 {
    grid-area: img3;
  }
  .img4 {
    grid-area: img4;
  }
  .img5 {
    grid-area: img5;
  }
  .img6 {
    grid-area: img6;
  }
  .img7 {
    grid-area: img7;
  }
  .img8 {
    grid-area: img8;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    gap: 20px;
  }
  .grid2 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 20px;
  }
  .is-no-wrap {
    flex-wrap: nowrap;
  }
}
/*tablet*/
@media (min-width: 600px) and (max-width: 1023px) {
  .image-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 15px;
  }
  .text-wrapper {
    width: 100%;
    padding: 15px;
  }
  .grid-area {
    display: grid;
    grid-template-areas: "titulo titulo" "img1 img2" "img3 img4" "img5 img6" "img7 img8";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 120px 600px 600px 600px 600px;
    gap: 20px;
  }
  .titulo {
    grid-area: titulo;
    position: relative;
  }
  .img1 {
    grid-area: img1;
  }
  .img2 {
    grid-area: img2;
  }
  .img3 {
    grid-area: img3;
  }
  .img4 {
    grid-area: img4;
  }
  .img5 {
    grid-area: img5;
  }
  .img6 {
    grid-area: img6;
  }
  .img7 {
    grid-area: img7;
  }
  .img8 {
    grid-area: img8;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25% 25% 25% 25%;
    gap: 20px;
  }
  .grid2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    gap: 20px;
  }
  .is-no-wrap {
    flex-wrap: wrap;
  }
}
/*smartphone*/
@media (max-width: 599px) {
  .image-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 15px;
  }
  .text-wrapper {
    width: 100%;
    padding: 15px;
  }
  .grid-area {
    display: grid;
    grid-template-areas: "titulo" "img1" "img2" "img2" "img3" "img4" "img5" "img6" "img7" "img8";
    grid-template-columns: 1fr;
    grid-template-rows: 120px 600px 600px 600px 600px 600px 600px 600px 600px;
    gap: 20px;
  }
  .titulo {
    grid-area: titulo;
    position: relative;
  }
  .img1 {
    grid-area: img1;
  }
  .img2 {
    grid-area: img2;
  }
  .img3 {
    grid-area: img3;
  }
  .img4 {
    grid-area: img4;
  }
  .img5 {
    grid-area: img5;
  }
  .img6 {
    grid-area: img6;
  }
  .img7 {
    grid-area: img7;
  }
  .img8 {
    grid-area: img8;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 14% 14% 14% 14% 14% 14% 14%;
    gap: 20px;
  }
  .grid2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    gap: 20px;
  }
  .is-no-wrap {
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=estilos.css.map */
