/*box model*/

/*.Estilos.Box.model.*/

.ancho{
    width: 100%;
}

.largo{
    height: 500px;
    
}
    


/*Margin*/
.margen{
    margin-top: 40px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}
    
/*Padding*/

.margen-interno{
    padding-top: 20px;
    padding-bottom: 20px;
  
}

