
/*Importar*/
@import "fonts";
@import "animaciones";
@import "responsive";
@import "grids";
@import "flexbox";
@import "boxmodel";
@import "estilosgenerales";

/*Flexbox*/

.is-flex{
    display:flex;
}

.is-flex-wrap{
    flex-wrap: wrap;
}

.is-no-wrap{
    flex-wrap: nowrap;
}

.is-justify-center{
    justify-content:center;
}

.is-aling-center{
    align-items: center;
}

.is-align-end{
   align-items: flex-end;
}

.is-flex-column{
    flex-direction: column;

}
.is-space-between{
    justify-content: space-between;
}

.reverse{
    flex-direction: row-reverse;
}


.flex-imagen{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex: wrap;
}


.flex-music{
    display: flex;
    justify-content:center;
}

.flex-video{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.flex-form{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.flex-redes{
    display: flex;
    justify-content:end;
    flex-flow: column ;
}



/*variables*/

$anchura: 100%;
$altura: 500px;

/*Anidacion*/

footer{
    font-family: 'Cormorant SC', serif;
    nav{
        text-align: center;
        li{
        list-style: none;
    }
}
}

/*EACH*/


@each $secciones in body, header, main{

    #{$secciones}{
        background-color: black ;
    }
}


/*Responsive design con media queries*/


/*desktop*/


@media (min-width: 1024px){
    /*header*/

    .image-wrapper{
        display: flex;
        justify-content: flex-start;
        width: 30%;
        padding: 15px;
    }
    
    .text-wrapper{
        width: 70%;
        padding: 15px;
    }


    .grid-area{
        display: grid;
        grid-template-areas:
        "titulo titulo titulo titulo"
        "img1   img2   img3   img4"
        "img5   img6   img7   img8";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 120px 600px 600px;
        gap:20px;
        }
        .titulo{
            grid-area: titulo;
            position: relative;
        }
        
        .img1{
            grid-area: img1;
        }
        .img2{
            grid-area: img2;
        }
        .img3{
            grid-area: img3;
        }
        .img4{
            grid-area: img4;
        }
        .img5{
            grid-area: img5;
        }
        .img6{
            grid-area: img6;
        }
        .img7{
            grid-area: img7;
        }
        .img8{
            grid-area: img8;
        }
        
        .grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows:50% 50% ;
            gap: 20px;    
        }
        .grid2{
            display: grid;
            grid-template-columns:50% 50% ;
            grid-template-rows: 50% 50%;
            gap: 20px;
        }
        .is-no-wrap{
            flex-wrap: nowrap;
        }
}

/*tablet*/

@media (min-width: 600px) and (max-width:1023px){
    .image-wrapper{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 15px;
    }
    
    .text-wrapper{
        width: 100%;
        padding: 15px;
    }

    .grid-area{
        display: grid;
        grid-template-areas:
        "titulo titulo"
        "img1 img2" 
        "img3 img4"
        "img5 img6"
        "img7 img8";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 120px 600px 600px 600px 600px;
        gap:20px;
    }

    .titulo{
        grid-area: titulo;
        position: relative;
    }
    
    .img1{
        grid-area: img1;
    }
    .img2{
        grid-area: img2;
    }
    .img3{
        grid-area: img3;
    }
    .img4{
        grid-area: img4;
    }
    .img5{
        grid-area: img5;
    }
    .img6{
        grid-area: img6;
    }
    .img7{
        grid-area: img7;
    }
    .img8{
        grid-area: img8;
    }

    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:25% 25% 25% 25%;
        gap: 20px;
    } 
    .grid2{
        display: grid;
        grid-template-columns:100% ;
        grid-template-rows: 25% 25% 25% 25%;
        gap: 20px;
    }
    .is-no-wrap{
        flex-wrap: wrap;
    }

}
    
/*smartphone*/

@media (max-width: 599px){
    .image-wrapper{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 15px;
    }
    
    .text-wrapper{
        width: 100%;
        padding: 15px;
    }

    .grid-area{
        display: grid;
        grid-template-areas:
        "titulo"
        "img1" 
        "img2"
        "img2"
        "img3"
        "img4"
        "img5"
        "img6"
        "img7"
        "img8";
        grid-template-columns: 1fr;
        grid-template-rows: 120px 600px 600px 600px 600px 600px 600px 600px 600px;
        gap:20px;
    }

        .titulo{
            grid-area: titulo;
            position: relative;
        }
        .img1{
            grid-area: img1;
        }
        .img2{
            grid-area: img2;
        }
        .img3{
            grid-area: img3;
        }
        .img4{
            grid-area: img4;
        }
        .img5{
            grid-area: img5;
        }
        .img6{
            grid-area: img6;
        }
        .img7{
            grid-area: img7;
        }
        .img8{
            grid-area: img8;
        }

        .grid{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows:14% 14% 14% 14% 14% 14% 14%;
            gap: 20px;
        }
        .grid2{
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 25% 25% 25% 25%;
            gap: 20px;
        
        } 
        .is-no-wrap{
            flex-wrap: wrap;
        }
        
 }
    


    

