
/*Importar*/
@import "fonts";
@import "animaciones";
@import "responsive";
@import "grids";
@import "flexbox";
@import "boxmodel";
@import "estilosgenerales";

/*variables*/

$negrito: black;
$logo: 40%;
$menu: 60%;
$anchura: 100%;
$altura: 500px;

body{
    font-family: 'Cormorant SC', serif;  
    font-size: 1.1rem;
    color: $negrito;
    line-height: 1.3;
    text-align: justify;
}


p{ 
    color:$negrito;
    text-align: justify;
    font-size: 20px;
    width: 100%;  
}

h2{
    color: $negrito;
    font-size: 2rem;
    text-decoration: underline;
    text-align: center;
}

#uno{
    width: 100%;
    color:$negrito;
}



/*Anidacion*/

footer{
    font-family: 'Cormorant SC', serif;
    nav{
        text-align: center;
        li{
        list-style: none;
    }
}
}


/*SASS 2*/
/*Operadores*/

.menu-wrapper{
    width: calc($menu - 30px);
    padding: 15px;
}

.logo-wrapper{
    width: calc($logo - 30px);
    padding: 15px;
}


/*Extend*/

.menunegro{
    color:rgb(30, 30, 30);
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    line-height: normal;
    font-size: 22px;
    font-weight: bold;
    text-decoration: underline;
}

.menugrisosc{
    @extend .menunegro;
    color: rgb(56, 52, 52)
}

.menugris{
    @extend .menunegro;
    color: grey
}

.menugriscla{
    @extend .menunegro;
    color: rgb(154, 151, 151)
}

.menublanco{
    @extend .menunegro;
    color: rgb(213, 211, 211)
}



/*Mixin*/

@mixin tamaño ($anchura, $altura){ 

    width: $anchura;
    height: $altura;
    
}

p{
    @include tamaño ($anchura, 100%)
}

/*EACH*/

@each $secciones in body, header, main, footer{

    #{$secciones}{
        background-image: url(https://img.freepik.com/free-photo/cardboard-sheet-paper-abstract-texture-background_7182-2105.jpg?size=626&ext=jpg) ;
    }
}

/*Mapas*/

$mapa:(
    twitter: groove 3px #55acee,
    instagram: groove 3px rgb(143, 52, 143),
    youtube: groove 3px red,

);

/*mapas con each*/

@each $nombres, $bordecito in $mapa{

    .boton-#{$nombres}{
        border: $bordecito;
    }
}

section div.twitter{ 
    border: map-get($mapa, twitter);
}
section div.instagram{ 
    border: map-get($mapa, instagram); 
}
section div.youtube{ 
    border: map-get($mapa, youtube);
}



/*Responsive design con media queries*/


/*desktop*/


@media (min-width: 1024px){
    /*header*/
    .menu-wrapper{
        width: calc($menu - 30px);
        padding: 15px;
    }
    .logo-wrapper{
        width: calc($logo - 30px);
        padding: 15px;
    }

    .image-wrapper{
        width: 30%;
        padding: 15px;
    }
    
    .text-wrapper{
        width: 70%;
        padding: 15px;
    }


    .grid-area{
        display: grid;
        grid-template-areas:
        "titulo titulo titulo titulo"
        "img1   img2   img3   img4"
        "img5   img6   img7   img8";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 120px 600px 600px;
        gap:20px;
        }
        .titulo{
            grid-area: titulo;
            position: relative;
        }
        
        .img1{
            grid-area: img1;
        }
        .img2{
            grid-area: img2;
        }
        .img3{
            grid-area: img3;
        }
        .img4{
            grid-area: img4;
        }
        .img5{
            grid-area: img5;
        }
        .img6{
            grid-area: img6;
        }
        .img7{
            grid-area: img7;
        }
        .img8{
            grid-area: img8;
        }
        
        .menu-flex{
            display:flex ;
            justify-content: space-around;
            flex-wrap: nowrap;
        }
        
        .grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows:50% 50% ;
            gap: 20px;    
        }
        .grid2{
            display: grid;
            grid-template-columns:50% 50% ;
            grid-template-rows: 50% 50%;
            gap: 20px;
        }
    

 
}

/*tablet*/


@media (min-width: 600px) and (max-width:1023px){
    .menu-wrapper{
        width: 100%;
        padding: 15px;
    }
    .logo-wrapper{
        width: calc(40% - 30px);
        padding: 15px;
    }

    .image-wrapper{
        width: 100%;
        padding: 15px;
    }
    
    .text-wrapper{
        width: 100%;
        padding: 15px;
    }

    .grid-area{
        display: grid;
        grid-template-areas:
        "titulo titulo"
        "img1 img2" 
        "img3 img4"
        "img5 img6"
        "img7 img8";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 120px 600px 600px 600px 600px;
        gap:20px;
    }
    .titulo{
        grid-area: titulo;
        position: relative;
    }
    
    .img1{
        grid-area: img1;
    }
    .img2{
        grid-area: img2;
    }
    .img3{
        grid-area: img3;
    }
    .img4{
        grid-area: img4;
    }
    .img5{
        grid-area: img5;
    }
    .img6{
        grid-area: img6;
    }
    .img7{
        grid-area: img7;
    }
    .img8{
        grid-area: img8;
    }

    .menu-flex{
        display:flex ;
        justify-content: space-around;
        flex-wrap: nowrap;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:25% 25% 25% 25%;
        gap: 20px;
    } 
    .grid2{
        display: grid;
        grid-template-columns:100% ;
        grid-template-rows: 25% 25% 25% 25%;
        gap: 20px;
    }

}
    

/*smartphone*/

@media (max-width: 599px){
    .menu-wrapper{
        width: 100%;
        padding: 15px;  
        text-align: center;  
    }

    .menu-flex{
        display:flex ;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .logo-wrapper{
        width: 300px;
        padding: 15px;
    }
    .image-wrapper{
        width: 100%;
        padding: 15px;
    }
    
    .text-wrapper{
        width: 100%;
        padding: 15px;
    }

    .grid-area{
        display: grid;
        grid-template-areas:
        "titulo"
        "img1" 
        "img2"
        "img2"
        "img3"
        "img4"
        "img5"
        "img6"
        "img7"
        "img8";
        grid-template-columns: 1fr;
        grid-template-rows: 120px 600px 600px 600px 600px 600px 600px 600px 600px;
        gap:20px;
    }

        .titulo{
            grid-area: titulo;
            position: relative;
        }
        .img1{
            grid-area: img1;
        }
        .img2{
            grid-area: img2;
        }
        .img3{
            grid-area: img3;
        }
        .img4{
            grid-area: img4;
        }
        .img5{
            grid-area: img5;
        }
        .img6{
            grid-area: img6;
        }
        .img7{
            grid-area: img7;
        }
        .img8{
            grid-area: img8;
        }
        .menu-flex{
            display:flex ;
            flex-direction: column;
            flex-wrap: nowrap;
        }

        .grid{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows:14% 14% 14% 14% 14% 14% 14%;
            gap: 20px;
        }
        .grid2{
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 25% 25% 25% 25%;
            gap: 20px;
        
        }

     
    }

    .image-wrapper{
        width: 100%;
        padding: 15px;
    }
    
    .text-wrapper{
        width: 100%;
        padding: 15px;
    }

    .main-content{
        max-width: 1400px;
        padding: 0 15px;
        margin: 0 auto;
    }
    


    

